{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image:url({% static 'images/about.jpg' %})">
<h1 style="text-align:center">Login Form</h1>
  <form method="post" action="" style="text-align:center">
      {% csrf_token %}
      <div><label>Username</label><input type="text" name="username"></div><br><br>
  <div><label>Password</label><input type="password" name="password"></div><br><br>
    <div><input type="submit" value="Login"></div><br><br>
  </form>
{% for msg1 in messages %}
{{msg1}}
{% endfor %}
</body>
</html>