{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body,form,h1{
        text-align:center
        }
        .messagetext
        {
        color:red
        }
    </style>
</head>
<body style="background-image:url({% static 'images/about.jpg' %})">
<form method="post" action="">
    {% csrf_token %}
    <h1>Registration Form</h1>
    <input type="text" name="username" placeholder="username"><br><br>
    <input type="text" name="first_name" placeholder="Enter your First name"><br><br>
    <input type="text" name="last_name" placeholder="Enter your Last Name"><br><br>
    <input type="email" name="email" placeholder="Enter your email"><br><br>
    <input type="password" name="password" placeholder="Enter your password"><br><br>
    <input type="password" name="cnfpassword" placeholder="Enter your Confirm password"><br><br><br>
    <input type="submit" name="Submit">
</form>
<p class="messagetext">
{% for msg in messages%}
{{msg}}
{% endfor %}
</p>

</body>
</html>